:root {
  --branding-color: black;
  --heading-font-family: "Roboto", sans-serif;
  --secondary-color: #202020;
}
body {
  font-family: var(--heading-font-family);
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: white;
}
h1 {
  font-size: 96px;
  line-height: 1.5;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 48px;
}
p {
  font-weight: normal;
  color: white;
  font-size: 16px;
  line-height: 30px;
}
.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 80px 20px;
}
.hero p {
  font-size: 36px;
  font-size: bold;
  margin: 0;
}
.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}
.btn-branding {
  background: var(--branding-color);
  border-radius: 8px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
}
.content-container {
  padding: 60px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--heading-font-family);
}
.content h3 {
  font-size: 24px;
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 1.5;
}
.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}
.btn-branding:hover {
  color: #202020;
  background-color: white;
}
.btn-branding-outline {
  background-color: #202020;
  color: white;
  border-radius: 8px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
}
.btn-branding-outline:hover {
  color: #202020;
  background-color: white;
}
.project-description {
  padding: 120px 60px;
}

.logo {
  max-width: 150px;
}

nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  color: white;
  line-height: 28px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: white;
  transition: all 100ms ease-in-out;
}

nav li.active a {
  color: rgb(154, 149, 149);
}
nav a:hover {
  color: rgb(154, 149, 149);
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h2 {
    font-size: 44px;
  }
  h3 {
    font-size: 26px;
  }

  .content {
    text-align: center;
    padding: 0;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
footer {
  margin: 60px 0;
}
footer .email-link {
  font-size: 24px;
  text-decoration: none;
  color: white;
}
footer .email-link:hover {
  color: hwb(0 29% 69%);
}
footer .social-links a {
  margin: 0 20px;
  color: white;
  padding: 10px 14px;
  background: var(--secondary-color);
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: black;
  background: white;
}
footer .contact-box p {
  margin: 0;
  font-style: italic;
}

img {
  border-radius: 10px;
}
.hero {
  padding: 80px 20px;
}
.content {
  text-align: center;
  padding: 0;
}
.project-description {
  padding: 0;
  text-align: center;
}
footer .contact-box {
  background-color: #202020;
  padding: 30px 120px;
  border-radius: 10px;
}
a.button {
  padding: 3px 6px;
  border: 1px outset buttonborder;
  border-radius: 10px;
  color: rgba(7, 0, 0, 0.966);
  background-color: white;
  text-decoration: none;
}
a.button:hover {
  color: white;
  background-color: #3a3939;
}
